.checkTerm {
  /* stylelint-disable */
  display: flex;
  align-items: center;
}

.checkBox {
  padding: 0 !important;
  margin-right: 5px;
}

.term {
  border: none;
  outline: none;
  color: #eeeded;
}
