@value gray: #333;

.questions {
  /* stylelint-disable */
  position: relative;
  min-height: 100%;
  padding-bottom: 2px;
}

.noQuestion {
  text-align: center;
  font-size: 0.16rem;
  line-height: 3;
  margin-top: 0.5rem;
  color: gray;
}

.questionCard {
  padding: 0 8px;
  margin: 8px 0;
  background-color: #fff;
}
