html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.page-enter {
  z-index: 1024;
  opacity: 0.01;
  transform: translate3d(100%, 0, 0);
  transition: all .2s ease;
}

.page-enter.page-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.page-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all .2s ease;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transform: translate3d(100%, 0, 0);
}