@value textWhite: #fff;

.identifySwitchBar {
  /* stylelint-disable */
  position: relative;
  margin-top: -0.32rem;
  text-align: center;
  color: textWhite;
  z-index: 20;
}

.switchBarContent {
  padding: 0 0.1rem;
  line-height: 0.32rem;
  border-radius: 0.05rem 0.05rem 0 0;
  box-shadow: 0 -1px 4px 0 rgba(188, 188, 188, 0.5);
  outline: none;
  margin: 0 auto;
  transition: background 0.3s ease;
}

.icon {
  display: inline-block;
  width: 0.3rem;
  height: 0.28rem;
  vertical-align: -0.08rem;
}

.iconToStudent {
  composes: icon;
  background: url('/images/student.png');
  background-size: 100%;
}

.iconToTeacher {
  composes: icon;
  background: url('/images/teaching.png');
  background-size: 100%;
}
